.DS_Store
__pycache__
.venv
logs.txt
data/*.npy
tensorboard/events.out.tfevents.*
_local
capture.png
capture.png.*.png
web_image.*.png
web_strokes.*.png
image_*.png
calibration*.jpg
calibration*.png
~\$*.docx
calibration.json
