.DS_Store
__pycache__
.venv
logs.txt
data/*.npy
data/*.ndjson
data/*.bin
tensorboard/events.out.tfevents.*
_local
capture.png
capture.png.*.png
web_image.*.png
web_strokes.*.png
image_*.png
calibration*.jpg
calibration*.png
~\$*.docx
calibration.json
watch.json
classes-*.json
trained_models/logs-*.txt
trained_models/whole_model_quickdraw-*.onnx
trained_models/whole_model_quickdraw-*
*.png
*.jpg
